---
interface Image {
  url: string;
  alt: string;
  caption?: string;
}

interface Props {
  images: Image[];
  columns?: 2 | 3 | 4;
}

const { images, columns = 3 } = Astro.props;
---

<div class={`image-grid columns-${columns}`}>
  {images.map(image => (
    <div class="grid-item">
      <img src={image.url} alt={image.alt} />
      {image.caption && <p class="caption">{image.caption}</p>}
    </div>
  ))}
</div>
