---
import type { CardProps } from '../types';

const {
	href,
	title,
	img,
	isPasswordProtected = false
} = Astro.props as CardProps;
---


<article class="post project">
	<a href={href} class="post-link" aria-label={`${title}${isPasswordProtected ? ' (password protected)' : ''}`}>
		<div class="post-thumbnail">
			<img
				class="thumbnail"
				src={img}
				alt=""
				loading="lazy"
			/>
			{isPasswordProtected && (
				<div class="lock-icon" aria-label="This case study is password protected">
					<img src="/images/icon-lock.svg" alt="" aria-hidden="true">
				</div>
			)}
		</div>
		<header class="post-header">
			<h3 class="post-title">
				{title}
			</h3>
		</header>
	</a>
</article>

