---
interface Props {
	title: string;
	href: string;
	img: string;
	isPasswordProtected?: boolean;
}

const { 
	href, 
	title, 
	img, 
	isPasswordProtected = false
} = Astro.props;
---


<article class="post project">
	<a href={href} class="post-link">
		<div class="post-thumbnail">
			<img
				class="thumbnail"
				src={img}
				alt={title}
			/>
			{isPasswordProtected && (
				<div class="lock-icon">	
					<img src="/images/icon-lock.svg">
				</div>
			)}
		<header class="post-header">
			<h3 class="post-title">
				{title}
			</h3>
		</header>
	</a>
</article>

