---
interface Props {
    client: string;
}

const { client } = Astro.props;
---

{
    client === "Indeed" && (
        <svg viewBox="0 0 350 100" class="client-logo-svg">
            <title>Indeed</title>
        </svg>
    )
}

{
    client === "LegalZoom" && (
        <svg viewBox="20 0 350 100" class="client-logo-svg">
            <title>LegalZoom</title>
            <g fill="currentColor" fill-rule="nonzero">
                <path d="M23.962 25.688h5.72c1.086 0 1.962.864 1.962 1.942v23.516c0 .54.438.974.981.974h13.417c1.085 0 1.961.87 1.961 1.949v4.254a1.95 1.95 0 0 1-1.961 1.948h-22.08A1.95 1.95 0 0 1 22 58.323V27.637c0-1.078.876-1.949 1.962-1.949m29.835 0h22.878c1.085 0 1.961.87 1.961 1.949v4.254a1.95 1.95 0 0 1-1.961 1.948H62.362a.976.976 0 0 0-.98.974v3.286c0 .54.437.974.98.974h12.573c1.086 0 1.962.87 1.962 1.949v3.656a1.95 1.95 0 0 1-1.962 1.948H62.362a.976.976 0 0 0-.98.974v3.533c0 .54.437.974.98.974h14.561c1.085 0 1.962.87 1.962 1.949v4.254a1.95 1.95 0 0 1-1.962 1.948H53.797a1.95 1.95 0 0 1-1.962-1.948V27.637c0-1.078.876-1.949 1.962-1.949M82.572 43.08v-.097c0-10.08 7.958-17.983 18.74-17.983 5.237 0 9.16 1.377 12.488 3.76.915.656 1.06 1.962.34 2.825l-3.171 3.793c-.66.786-1.805.91-2.661.331-2.034-1.383-4.185-2.156-6.944-2.156-5.022 0-8.899 4.202-8.899 9.488v.098c0 5.585 3.93 9.585 9.448 9.585 1.765 0 3.217-.279 4.446-.824.693-.306 1.125-1.014 1.125-1.773v-2.06a.976.976 0 0 0-.98-.973h-3.917a1.95 1.95 0 0 1-1.962-1.949v-3.117c0-1.078.876-1.948 1.962-1.948h12.083c1.085 0 1.961.87 1.961 1.948V54.03a3.25 3.25 0 0 1-1.386 2.662c-3.537 2.488-8.173 4.287-13.73 4.287-10.842 0-18.943-7.41-18.943-17.886zm51.726-17.645h4.956c1.314 0 2.504.78 3.014 1.987l12.816 30.14c.55 1.287-.406 2.709-1.805 2.709h-5.178a3.27 3.27 0 0 1-3.028-2.026L143.7 54.9a1.32 1.32 0 0 0-1.21-.812h-11.657c-.536 0-1.014.325-1.216.818l-1.334 3.313a3.28 3.28 0 0 1-3.04 2.045h-4.97c-1.406 0-2.354-1.422-1.805-2.708l12.816-30.134a3.28 3.28 0 0 1 3.014-1.987m5.93 20.308-2.922-7.41a.654.654 0 0 0-1.216 0l-2.962 7.41a.65.65 0 0 0 .608.89h5.884a.652.652 0 0 0 .608-.89m27.639 5.403v-23.51a1.95 1.95 0 0 0-1.962-1.948h-5.721c-1.086 0-1.962.87-1.962 1.949v30.686c0 1.078.876 1.948 1.962 1.948h15.555c.935 0 1.824-.396 2.445-1.091l4.858-5.436c.563-.63.111-1.624-.732-1.624h-13.463a.976.976 0 0 1-.98-.974m40.845 5.969v-.098c0-9.93 8.056-17.983 18.792-17.983s18.693 7.956 18.693 17.886v.097c0 9.93-8.055 17.983-18.791 17.983s-18.694-7.956-18.694-17.885m27.638 0v-.098c0-4.988-3.628-9.339-8.95-9.339-5.323 0-8.802 4.248-8.802 9.242v.097c0 4.988 3.63 9.339 8.9 9.339s8.846-4.247 8.846-9.241zm13.358 0v-.098c0-9.93 8.056-17.983 18.792-17.983s18.693 7.956 18.693 17.886v.097c0 9.93-8.055 17.983-18.791 17.983s-18.694-7.956-18.694-17.885m27.639 0v-.098c0-4.988-3.63-9.339-8.952-9.339s-8.8 4.248-8.8 9.242v.097c0 4.988 3.628 9.339 8.898 9.339s8.847-4.247 8.847-9.241zm24.316-.747c-.353-.54-1.203-.293-1.203.357v15.632a1.95 1.95 0 0 1-1.962 1.948h-5.518a1.95 1.95 0 0 1-1.962-1.948V41.67c0-1.078.877-1.948 1.962-1.948h6.401c1.138 0 2.19.584 2.786 1.545l6.786 10.95a.655.655 0 0 0 1.112 0l6.787-10.95a3.27 3.27 0 0 1 2.785-1.545h6.401c1.086 0 1.962.87 1.962 1.948v30.686a1.95 1.95 0 0 1-1.962 1.948h-5.668a1.95 1.95 0 0 1-1.962-1.948v-15.73c0-.649-.843-.896-1.203-.357l-6.977 10.612a.98.98 0 0 1-1.64 0l-6.925-10.52z" />
                <path d="M205.718 39.723h-20.904c-.935 0-1.824.396-2.445 1.09l-4.819 5.391c-.562.63-.111 1.624.732 1.624h14.614c.562 0 .863.662.49 1.084l-15.653 17.509a3.26 3.26 0 0 0-.824 2.163v3.78c0 1.077.876 1.948 1.962 1.948h27.14c1.086 0 1.962-.87 1.962-1.949v-4.202a1.95 1.95 0 0 0-1.961-1.948h-14.326a.653.653 0 0 1-.49-1.084l15.653-17.51c.53-.597.824-1.363.824-2.162v-3.78a1.95 1.95 0 0 0-1.962-1.948z" />
            </g>
        </svg>
    )
}

{
    client === "AXS" && (
        <svg viewBox="100 0 250 100" class="client-logo-svg">
            <title>AXS</title>
            <path
                fill="currentColor"
                fill-rule="nonzero"
                d="M235.162 51.869c-2.615-.702-5.71-1.403-8.326-2.13-.528-.144-6.527-1.668-6.527-5.224 0-4.04 4.895-4.645 8.23-4.645 4.08 0 9.335 1.597 10.87 2.25 1.536.653 2.136.12 2.904-.823l4.8-5.806c.287-.362.287-1.137-.529-1.5 0 0-8.782-3.918-17.66-3.918-4.56 0-8.351.314-12.07 1.91-3.696 1.573-8.903 5.444-8.903 13.427 0 10.765 7.99 13.353 11.878 14.539 2.975.895 11.47 2.395 13.845 4.136 1.728 1.258 2.232 3.266 1.848 5.177-.456 2.25-3 4.185-9.07 4.185-4.848 0-7.991-1.234-12.718-3.58-1.224-.605-1.392-.629-2.112.242l-4.991 5.927c-.744.895-1.296 1.596-.048 2.346 2.376 1.403 12.502 5.613 21.236 5.613 9.815 0 20.181-3.871 20.181-16.668-.024-6.145-2.304-12.652-12.838-15.458M133.563 70.036c-1.92 2.637-4.607 3.968-8.087 3.968q-3.455 0-5.47-2.032c-1.344-1.355-2.016-3.17-2.016-5.468 0-3.072.984-5.25 2.927-6.507 1.944-1.258 8.135-1.742 8.135-1.742a64 64 0 0 1 4.295-.17h.936c1.176 0 2.16.291 2.16 1.307 0 4.016-.96 8.007-2.88 10.644M127.324 30c-10.318 0-17.205 3-18.717 3.653-.96.411-.912 1.21-.624 1.548l4.8 5.806c1.055 1.282 1.68 1.258 2.663.895.024 0 4.847-2.08 11.878-2.08 3 0 5.255.556 6.791 1.645 2.088 1.475 2.136 3.991 2.28 5.515.096 1.016-.936 1.573-2.136 1.573H127.3c-7.967 0-13.822 1.403-17.637 4.233-3.767 2.782-5.663 7.16-5.663 13.063 0 5.467 1.584 9.7 4.775 12.749 3.192 3.048 7.75 4.572 13.342 4.572 5.639 0 10.318-1.984 14.302-7.015 1.007-1.282 1.68-.218 1.68-.218l4.463 5.298s.024.048.096.097c.168.169.623.532 1.247.532h4.344c.767 0 1.2-.412 1.223-.992V52.957c0-8.612-1.655-14.611-4.967-17.95-3.287-3.338-9.022-5.007-17.18-5.007m81.298 2.153c.671-.798.383-1.451-.672-1.451h-21.86c-.769 0-1.704.58-2.064 1.282l-1.728 3.483 6.91 19.764zm-5.16 59.51-30.019-59.268c-.48-.944-1.703-1.693-2.735-1.693H149.16c-1.031 0-1.343.653-.671 1.451l20.804 25.135-11.47 22.909c-.48.943 0 1.693 1.032 1.693h6.095c.84 0 1.344-.629 1.344-.629l11.518-13.692 19.892 24.07s1.08 1.355 2.304 1.355h2.616c.383.024 1.535.048.84-1.33"
            />
        </svg>
    )
}

{
    client === "Cerebral" && (
        <svg viewBox="5 0 350 100" class="client-logo-svg">
            <title>Cerebral</title>
            <g fill="currentColor" fill-rule="nonzero">
                <path fill="currentColor" d="M102.8182059 54.624896h5.3138861c-1.364944 6.7372196-6.9835938 11.0647483-14.0523424 11.0647483-8.6533017 0-14.9422145-6.2208907-14.9422145-14.7775773 0-8.5568426 6.2522856-14.72847 14.9908963-14.72847 6.8982851 0 12.5045716 4.1922106 13.8817246 10.5361035h-5.2650501c-1.2796353-3.5899827-4.6312597-5.7906165-8.6897744-5.7906165-5.4356681 0-9.67701 4.1431032-9.67701 9.982983 0 5.8397239 4.2413419 10.0197745 9.67701 10.0197745 4.1925055 0 7.5319209-2.3359519 8.7750834-6.3069455zm34.9909161-1.8564145H124.74386v8.0403577h14.856905v4.450531h-19.866028v-28.645499h19.439329v4.4505309H124.74386v7.3026559h13.065262zm18.878638-11.7040794v9.8967722h7.410757c3.16818 0 5.350359-2.114579 5.350359-4.9668598 0-3.0611821-2.486634-4.9299124-5.350359-4.9299124zm0 24.1826522h-5.009123V36.6138712h13.101425c5.606905 0 9.847628 3.9709935 9.847628 9.3313359 0 4.1061557-2.437179 7.3887107-6.081358 8.7287963l6.166358 10.5853668h-5.776904l-5.654813-9.9337198h-6.593213v9.9337198zm48.141177-12.4785728h-13.065261v8.0403577h14.856442v4.450531h-19.865256v-28.645499h19.438711v4.4505309h-14.429897v7.3026559h13.065261zm18.842166.0367916v8.1265684h8.482993c2.52218 0 4.240724-1.5982501 4.240724-3.8849387 0-2.5080616-1.66909-4.2293139-4.240724-4.2293139h-8.482993zm0-11.8761891v7.868404h7.020994c2.69218 0 4.277815-1.6475134 4.277815-3.934202 0-2.5941164-2.060089-3.934202-4.497269-3.934202h-6.813903zm8.909538 24.3179703H218.69938V36.6138712h12.419262c5.435359 0 8.907993 3.5037719 8.907993 8.0773051 0 2.3357961-.853091 4.229158-3.08318 5.7413533 3.120271 1.2049234 4.582269 3.7988839 4.582269 6.7864828 0 4.4873225-3.338179 8.0403578-8.945083 8.0403578zm25.971342-24.1826522v9.8967722h7.410448c3.168179 0 5.350359-2.114579 5.350359-4.9668598 0-3.0611821-2.486634-4.9299124-5.350359-4.9299124zm0 24.1826522h-5.008814V36.6138712h13.102352c5.605359 0 9.847628 3.9709935 9.847628 9.3313359 0 4.1061557-2.438725 7.3887107-6.081358 8.7287963l6.166358 10.5853668h-5.776904l-5.654813-9.9337198h-6.594449v9.9337198zm36.112605-10.1427768h10.323628l-5.180359-13.044165zm11.943263 4.1063117h-13.576807l-2.400089 6.048781h-5.350359l11.736172-28.645499h5.569814l11.773262 28.645499h-5.313268zM345 65.2470543h-20.171256V36.6138712h5.008814v24.194968H345v4.450531zM57.2973445 46.8425469v-.0492633c-.2437179-6.3192613-3.2541063-12.82287-8.2388111-17.82661499C44.0249922 23.90143811 37.5532522 21 31.3131757 21 18.3089441 21 5.53625218 33.5401083 5.02437643 46.7932836L5 64.8535718c0 1.6843049 1.35283876 3.0488662 3.02254643 3.0488662h3.02255107v2.9999148c0 1.6843049 1.35282794 3.0488662 3.02253561 3.0488662H17.029247v2.0901033C17.029247 78.3403267 18.6136456 80 20.8074937 80h20.4874554c2.2912889 0 4.0218874-1.6843049 4.0218874-3.9095704v-2.1515264h3.0103884c.8166175 0 1.6088168-.3442193 2.1693527-.9342872.5484814-.5779081.8410356-1.3400856.8166175-2.1392107v-2.9752831h2.9493429c1.6697077 0 3.0225975-1.3645613 3.0225975-3.0488662l-.0244182-18.0110249zM14.07982674 71.3694184c-.25594251 0-.4509478-.2089012-.4509478-.4549057v-2.9997589h3.42473986v3.4669805h-2.96161389zm-.46314143-24.4040251c.39001058-9.3927592 8.48265279-17.32255516 17.69649039-17.32255516s17.062731 7.92979596 17.4528034 17.32255516v18.3552441h-3.4369335V47.1498187c-.341236-8.1264125-6.2278674-14.0400001-14.028079-14.0400001-7.800057 0-13.9182899 6.1224888-14.2595415 14.2490572v17.9617616h-3.43691796V46.9653933zm5.99632759 18.3430842V47.420299c.2925543-6.6881122 5.3138864-11.7410269 11.7001628-11.7410269 6.386431 0 11.1638905 4.7333271 11.4564448 11.519654v18.0972356H19.625222zm23.1566076 2.5939605v3.4669804H19.6130129V67.902438zm0 8.2003075c0 .799125-.5727449 1.3154539-1.4504078 1.3154539H20.8195483c-1.0968082 0-1.2065354-.9589188-1.2065354-1.3647172v-2.0899474h23.1566076v2.1515265zm5.9963586-5.1389695c0 .1351622-.0488364.221217-.0975181.2704802-.0486818.0491074-.1461999.1351622-.3168179.1351622h-3.0103884V67.902438h3.4369335v3.061338zm5.5209771-5.6552985h-2.949343V46.8793384c-.426545-10.7451605-9.60391-19.83056988-20.0244375-19.83056988-10.4203729 0-19.82932403 9.08540938-20.25590003 19.83056988v18.4291391H8.03474006c-.25594251 0-.4509478-.2090571-.4509478-.4549057V46.8670226C8.07129003 34.9047787 19.5885948 23.59408832 31.3131757 23.59408832c11.724581 0 22.9373078 11.31069038 23.4125347 23.28525008l.0244181 17.9742334c0 .2581644-.2072452.4549057-.4509632.4549057z"/>
            </g>
        </svg>
    )
}

{
    client === "Make:" && (
        <svg viewBox="0 0 350 100" class="client-logo-svg">
            <title>Make:</title>
        </svg>
    )
}

{
    client === "O'Reilly Auto Parts" && (
        <svg viewBox="0 0 350 100" class="client-logo-svg">
            <title>O'Reilly Auto Parts</title>
        </svg>
    )
}

{
    client === "USA Jump Rope" && (
        <svg viewBox="0 0 350 100" class="client-logo-svg">
            <title>USA Jump Rope</title>
        </svg>
    )
}

<style>
    .client-logo-svg {
        height: 100%;
        width: auto;
        max-width: 100%;
        fill: currentColor;
    }
</style>
