---
import type { TestimonialProps } from '../types';

const { name, title, portrait, quote } = Astro.props as TestimonialProps;
---

<blockquote class="testimonial">
	<p class="testimonial-text">
		{quote}
	</p>
	<footer class="testimonial-footer">
		<img
			class="testimonial-avatar"
			src={portrait}
			alt=""
			loading="lazy"
		/>
		<cite class="testimonial-author">
			<span class="testimonial-name">{name}</span>
			{title && <span class="testimonial-title">{title}</span>}
		</cite>
	</footer>
</blockquote>

