---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Josh Wright - AXS mobile app case study: Ticket resale">
	
	<main id="content" class="site-content">
		<div class="outer">
			<div class="inner">
				<article class="post project post-full">
					<header class="post-header inner-small">
						<h1 class="post-title line-top">AXS mobile app redesign: Ticket resale</h1>

						<div class="post-subtitle">
							Product strategy, qual and quant research, UX design
						</div>
					</header>

					

					<div class="post-content inner-small">
						
						<mux-player
  playback-id="kUshZ00b9AASVFharONWlqjRCMM9hiumclQ02a01BJXAqc"
  metadata-video-title="Placeholder (optional)"
  metadata-viewer-user-id="Placeholder (optional)"
  accent-color="#FF0000"
></mux-player>

<h3>Background</h3>
						<p>AXS is a leading event ticketing platform with over 50 million ticket sales annually across 30,000+ global events, generating $2 billion in sales volume. </p>

							<p>The AXS mobile app, required for event entry, serves 55 million users yearly and powers ticketing in 28 client apps including Coachella, Firefly Festival, the LA Lakers, and Wembley Stadium.</p>
							
							<p>Despite its reach, the app and ticketing functionality hadn’t meaningfully changed in over seven years. I was brought on to lead a research-based redesign effort.</p>
							

						<h3>My role</h3>

						<ul>
							<li>
								<strong>Product strategy</strong> As Principal Designer,
								I partnered closely with the VPs of Marketing, Creative,
								and UX to determine product strategy.
							</li>
							
							<li>
								<strong>Research:</strong> 
								I proposed and led all qualitative and quantitative research on a shoestring budget, working closely with two additional UX designers
							</li>
							<li>
								<strong>Engineering:</strong> I worked closely with
								our engineers to ensure velocity as well as 1:1 parity
								with shipped designs. This included functionality,
								look and feel, and animation.
							</li>
						</ul>

						<p></p>

						<h3>title</h3>

						<p>
							<img src="/images/case-studies/ribbon-zeplin.png" alt="" />
						</p>

						<p></p>

						<h3 id="the-brand-begins-to-emerge">
							The brand begins to emerge
						</h3>

						<div class="post-thumbnail">
							<img
								src="/images/case-studies/ribbon-mobile-01.png"
								alt=""
							/>
						</div>

					
				</article>
				<section class="outcomes block outer">
					<div class="inner">
						<div class="block-inside">
							<div class="block-header">
								<h2 class="block-title line-top">Outcomes</h2>
							</div>
						</div>
						<div class="outcomes-container">
							<div class="circle circle1">20% increase in app-based resale revenue</div>
							<div class="circle circle2">68% decrease in app-related customer support calls</div>
							<div class="circle circle3">4.7 stars on the iOS app store with 361K reviews</div>
						</div>
					</div>
				</section>
				
				<section class="portfolio-block block outer">
					<div class="inner">
						<div class="block-header">
							<h2 class="block-title line-top">Other case studies</h2>
						</div><!-- .block-header -->
						<div class="block-content">
							<div class="portfolio-feed layout-tiles">
								<Card
									href="/work/axs-mobile-app-event-entry.html"
									title="AXS mobile app redesign: Event entry"
									img="/images/block-axs.png"
								/>
								<Card
									href="/work/cerebral-case-study.html"
									title="Cerebral foundational research study"
									img="/images/block-cerebral.png"
								/>
							</div>
						</div>
					</div>
					<div class="block-content"><p style="text-align:center;"><a href="mailto:josh@joshuajwright.com" class="button">Get in touch</a></p></div>
				</section>
			</div>
		</div>
	</main>
</Layout>
