---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Josh Wright - Cerebral research study">
	<header id="masthead" class="site-header outer">
		<div class="inner">
			<div class="site-header-inside">
				<div class="site-branding">
					<p class="site-title"><a href="/">Josh Wright</a></p>
				</div>

				<nav
					id="main-navigation"
					class="site-navigation"
					aria-label="Main Navigation"
				>
					<div class="site-nav-inside">
						<ul class="menu">
							<li class="menu-item">
								<a href="/case-studies.html">Case studies</a>
							</li>
							<li class="menu-item">
								<a href="/index.html#about">About</a>
							</li>
							<li class="menu-item">
								<a href="/index.html#testimonials">Testimonials</a>
							</li>
							<li class="menu-item">
								<a href="mailto:josh@joshux.com"
									>Contact</a
								>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<main id="content" class="site-content">
		<div class="outer">
			<div class="inner">
				<article class="post project post-full">
					<header class="post-header inner-small">
						<h1 class="post-title line-top">Cerebral foundational research study</h1>

						<div class="post-subtitle">
							Qualitative customer research and product strategy consulting
						</div>
					</header>

					<div class="post-thumbnail">
						<img
							src="/images/case-studies/cerebral-banner.png"
							alt="Ribbon Case Study"
						/>
					</div>

					<div class="post-content inner-small">
						<h2>
							Background
						</h2>
<h3>Overview</h3>
						<p>
							Cerebral is a $4.8B mental health care startup focused on destigmatizing mental health and bringing accessible and affordable therapy and medication to all.
						</p>

<p>I was engaged as a consultant to conduct an in-depth research study, including auditing the existing product experience and developing a comprehensive Customer Journey Map. These efforts were commissioned to guide the creation of a two year product roadmap, ensuring it was informed by robust customer research and insights. </p>
<p>I partnered with a former colleague and fellow <a href="http://austincenterfordesign.com" target="_blank">AC4D</a> instructor for the duration of the project.</p>



						<p></p>

						<h3>Goals</h3>

						<ul>
							<li>
								Understand the customer's experience with Cerebral within their broader mental health journey.


							</li>
							<li>
								Identify emotions, friction points, and areas for improvement in the customer experience.


							</li>
							<li>
								Prioritize opportunities to enhance the journey and product experience.

							</li>
						</ul>

						<p></p>

						
						<h2>
							Customer research study (abridged)
						</h2>
						<h3>
							Participants
						</h3>

						<p>
							<img src="/images/case-studies/cerebral-participants.png" />
						</p>
						<p>
							We screened for active Cerebral customers who had renewed their subscriptions at least once, engaged with a clinician in the last 30 days, and responded to a prior survey expressing interest in participation. Information has been anonymized for this case study.


						</p>


						<p></p>

						<h3>Methodology</h3>

						<ul>
							<li>Developed research protocol synthesized from executive stakeholder input and customer service team interviews to determine common issues.</li>
							<li>
								Conducted seven 45 minute participatory interviews via Zoom with active customers to gather insights.



							</li>
							<li>
								Synthesized findings into a detailed report and dynamic journey map, highlighting key insights, themes, and actionable opportunities.

							</li>
						</ul>

						<p></p>

						<h3>Selected insights &amp; recommendations</h3>
						<h4 id="determining-target-market">
							Theme: "I need to do something"
						</h4>

						<div class="participant-container">
							<div class="participant">
							  <div class="avatar">
								<img src="/images/case-studies/cerebral-bethany.png" alt="Bethany's avatar">
							  </div>
							  <div class="participant-info">
								<h5>Bethany</h5>
								<p>Wanted to speak to someone, preferably a woman she identified with, because she felt she could no longer handle her situation alone.</p>
							  </div>
							</div>
							<div class="participant">
							  <div class="avatar">
								<img src="/images/case-studies/cerebral-lindsey.png" alt="Lindsey's avatar">
							  </div>
							  <div class="participant-info">
								<h5>Lindsey</h5>
								<p>Wanted to get access to medication as quickly as possible to treat her already diagnosed condition.</p>
							  </div>
							</div>
						  </div>

						<p></p>
						
						<h4>Insight: Cerebral customers are looking for someone to trust.</h4>

						
						<p>When addressing their mental health, individuals often have deeply personal goals. This vulnerable moment requires trust and support from the people and systems they rely on.</p>

						<p></p>

						<h4>Recommendation: Extend a helping hand</h4>
						<p>Improve the first time user experience by emphasizing empathetic communication and establishing trust early, such as through personalized introductions to clinicians and clear explanations of how Cerebral's services align with their individual goals.</p>
						<p>---</p>
						<h4 id="determining-target-market">
							Theme: "Am I making progress?"
						</h4>

						<div class="participant-container">
							<div class="participant">
							  <div class="avatar">
								<img src="/images/case-studies/cerebral-jasmyn.png" alt="Jasmyn's avatar">
							  </div>
							  <div class="participant-info">
								<h5>Jasmyn</h5>
								<p>Wanted therapy, but is now getting medication she doesn’t REALLY want to be on (though it’s working).</p>
							  </div>
							</div>
							<div class="participant">
							  <div class="avatar">
								<img src="/images/case-studies/cerebral-callie.png" alt="Callie's avatar">
							  </div>
							  <div class="participant-info">
								<h5>Callie</h5>
								<p>Wanted medication, but is also getting (and paying for) counseling she doesn’t REALLY want.</p>
							  </div>
							</div>
						  </div>

						<p></p>
						
						<h4>Insight: There is no 'one size fits all'</h4>

						
						<p>Customers seek personalized treatment plans and trust in expert recommendations. They are open to trying services if the benefits are clear but may look elsewhere if they feel they're paying for unnecessary offerings.</p>

						<h4>Recommendation: Bespoke treatment plans</h4>
						<p>Implement a collaborative treatment planning process that allows customers to tailor plans to their needs. Provide clear explanations of service benefits and offer flexible subscription options to ensure customers feel their choices align with their goals.
						</p>
						<p>---</p>

						<h4 id="determining-target-market">
							Theme: "I feel understood"
						</h4>

						<div class="participant-container">
							<div class="participant">
							  <div class="avatar">
								<img src="/images/case-studies/cerebral-dawn.png" alt="Dawn's avatar">
							  </div>
							  <div class="participant-info">
								<h4>Dawn</h4>
								<p>Wanted to talk to someone who understands her situation -- a fellow mother and person of color.</p>
							  </div>
							</div>
							<div class="participant">
							  <div class="avatar">
								<img src="/images/case-studies/cerebral-tony.png" alt="Tony's avatar">
							  </div>
							  <div class="participant-info">
								<h4>Tony</h4>
								<p>Wanted “answers” and to understand experiences he’s had his entire life.</p>
							  </div>
							</div>
						  </div>

						<p></p>
						
						<h4>Insight: Connection gives customers hope for the future.</h4>

						
						<p>Customers come to Cerebral because something feels wrong.</p>
							<p>When they’re able to connect with a person or with a diagnosis, they learn to understand & eventually accept themselves more easily. Empathic exchanges offer a different point of view on what feels wrong. A diagnosis gives a name & context to what feels wrong. Both allow clients to hope for a future that feels right.
							</p>


						<p></p>

						<h4>Recommendation: Facilitate a 'sigh of relief'</h4>
						<p>Train clinicians to deliver empathetic, personalized feedback on diagnoses to foster trust and understanding. Create accessible resources, such as guides, videos or articles, to explain diagnoses in relatable terms, normalize experiences, and highlight pathways to improvement.</p>
						<p>---</p>

						<h2>Final deliverables</h2>
						<h3>Living customer journey map</h3>
						<p>This living document provides a detailed account of customer emotions, actions, touchpoints, insights, and opportunities. <strong>If you'd like to explore a high fidelity version, please feel free to <a href="mailto:josh@joshuajwright.com">get in touch</a>.</strong></p>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/cerebral-journeymap.png"
								alt=""
							/>
						</div>
						<h3>Socializing our learnings</h3>
						<p>At the conclusion of the project, we hosted two shareout presentations: one for the core team and another for executive leadership and a large portion of the company. These sessions provided a comprehensive walkthrough of the research findings and included a robust Q&A to address any questions. </p>
						<p>Additionally, we created a detailed shareout document, distributed company-wide, which outlined all key insights and actionable recommendations from the research.</p>
						<p>These were both very well received.</p>
				</article>
				<section class="outcomes block outer post-feed">
					<div class="inner">
						<div class="block-inside">
							<div class="block-header">
								<h2 class="block-title line-top">Outcomes</h2>
							</div>
						</div>
						<div class="outcomes-container">
							<div class="circle circle1">Implementation of recommendations improved customer satisfaction by 26%</div>
							<div class="circle circle2">Based on project success, Cerebral hired a Director of Research and a team of four researchers</div>
							<div class="circle circle3">This work directly shaped and informed the company's 2021/2022 product roadmap</div>
						</div>
					</div>
				</section>
				
				<section class="portfolio-block block outer">
					<div class="inner">
						<div class="block-header">
							<h2 class="block-title line-top">Other case studies</h2>
						</div><!-- .block-header -->
						<div class="block-content">
							<div class="portfolio-feed layout-tiles">
								<Card
									href="/work/jump-rope-nationals-case-study.html"
									title="Jump Rope Nationals research study"
									img="/images/block-jumprope.png"
								/>
								<Card
									href="/work/axs-mobile-app-event-entry.html"
									title="AXS mobile app redesign: Event entry"
									img="/images/block-axs.png"
								/>
							</div>
						</div>
					</div>
					<div class="block-content"><p style="text-align:center;"><a href="mailto:josh@joshuajwright.com" class="button">Get in touch</a></p></div>
				</section>
			</div>
		</div>
	</main>
</Layout>
