---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Josh Wright - Cerebral research study">
	
	<main id="content" class="site-content">
		<div class="outer">
			<div class="inner">
				<article class="post project post-full">
					<header class="post-header inner-small">
						<h1 class="post-title line-top">Indeed AI product discovery &amp; implementation</h1>

						<div class="post-subtitle">
							Seamlessly integrating generative AI capabilities into enterprise recruitment software
						</div>
					</header>

					<div class="post-thumbnail">
						<img
							src="/images/case-studies/indeedai-banner.png"
							alt="Indeed AI Case Study"
						/>
					</div>

					<div class="post-content inner-small">
						<h3>
							Password required
						</h3>
						<p>
							This case study requires a password to view. Please feel free to <a href="mailto:josh@joshuajwright.com">reach out</a> if you'd like the password or to chat further about my work or <a href="../case-studies.html">check out my other case studies</a>.
						</p>
						
					</div>
				</article>
			</div>
		</div>
	</main>


				
				<section class="portfolio-block block outer">
					<div class="inner">
						<div class="block-header">
							<h2 class="block-title line-top">Other case studies</h2>
						</div><!-- .block-header -->
						<div class="block-content">
							<div class="portfolio-feed layout-tiles">
								<Card
									href="/work/jump-rope-nationals-case-study.html"
									title="Jump Rope Nationals research study"
									img="/images/block-jumprope.png"
								/>
								<Card
									href="/work/axs-mobile-app-event-entry.html"
									title="AXS mobile app redesign: Event entry"
									img="/images/block-axs.png"
								/>
							</div>
						</div>
					</div>
					<div class="block-content"><p style="text-align:center;"><a href="mailto:josh@joshuajwright.com" class="button">Get in touch</a></p></div>
				</section>
			</div>
		</div>
	</main>
</Layout>
