---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Josh Wright - US Jump Rope Nationals case study">
	<header id="masthead" class="site-header outer">
		<div class="inner">
			<div class="site-header-inside">
				<div class="site-branding">
					<p class="site-title"><a href="/">Josh Wright</a></p>
				</div>

				<nav
					id="main-navigation"
					class="site-navigation"
					aria-label="Main Navigation"
				>
					<div class="site-nav-inside">
						<ul class="menu">
							<li class="menu-item">
								<a href="/case-studies.html">Case studies</a>
							</li>
							<li class="menu-item">
								<a href="/index.html#about">About</a>
							</li>
							<li class="menu-item">
								<a href="/index.html#testimonials">Testimonials</a>
							</li>
							<li class="menu-item">
								<a href="mailto:josh@joshux.com"
									>Contact</a
								>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<main id="content" class="site-content">
		<div class="outer">
			<div class="inner">
				<article class="post project post-full">
					<header class="post-header inner-small">
						<h1 class="post-title line-top">
							US Jump Rope Nationals case study
						</h1>

						<div class="post-subtitle">
							Research and rapid-fire design in the field
						</div><!-- .post-subtitle -->
					</header><!-- .post-header -->

					<div class="post-thumbnail">
						<img
							src="/images/case-studies/jumprope-banner.png"
							alt="US Jump Rope Nationals Case Study"
						/>
					</div><!-- .post-thumbnail -->

					<div class="post-content inner-small">
						<h2>Background</h2>
						<h3>
							Overview
						</h3>

						<p>
							USA Jump Rope, the largest jump rope organization in
							the United States, has large events all over the
							country each year, culminating in the Jump Rope
							Nationals.
						</p>

						<p>
							The processes used to run the events and the
							organization are outdated and starting to fray at
							the edges.
						</p>

						<p></p>

						<h3 id="my-role">My role</h3>

						<p>
							I was approached by the Austin-based consultancy <a
								href="http://rglrcollective.com"
								target="_new">RGLR Collective</a
							> to partner with them and conduct a field research study
							at the annual Jump Rope Nationals event in Florida. The
							goal was to observe the event and identify problem areas
							and possible solutions, culminating in an overall strategy
							for modernizing the sport.
						</p>

						<p></p>

						<h2 id="field-research">Field research</h2>
						<h3>Contextual inquiry</h3>

						<p>
							Working as a two person team with a fellow
							researcher, I conducted rapid fire contextual inquiries with leadership, athletes, and support staff. Additionally,
							I did a deep dive into how the event itself was run.
						</p>

						<p>
							Not knowing much about sports in general, I was
							learning as much as I could as quickly as possible.
						</p>

						<p>
							<img src="/images/case-studies/jumprope-interview.jpg" alt="" />
						</p>

						<p></p>

						<h3 id="dated-systems">Dated systems</h3>

						<p>
							A surprising amount of the process used to run the
							event remains paper-based, with their filing system
							consisting of “a filing cabinet in a storage unit in
							Alabama”.
						</p>

						<p>
							There was a tremendous opportunity for optimization.
						</p>

						<p><img src="/images/case-studies/jumprope-kid.png" alt="" /></p>

						<p></p>

						<h3 id="understanding-the-event">
							Understanding the event
						</h3>

						<p>
							One observation that stood out to me was the use of
							“runners.”
						</p>

						<p>
							Each athlete competes at one of nine stations,
							observed by three judges.
						</p>

						<p>
							After an event, three runners will go to each
							station, write down the judges’ scores, and then
							physically walk them over to a volunteer that types
							each score into an Access database.
						</p>

						<p><img src="/images/case-studies/jumprope-runners.jpg" alt="" /></p>

						<p>
							We rapidly synthesized in the field, turning our
							quotes and observations into insights to build a
							narrative.
						</p>

						<p><img src="/images/case-studies/jumprope-postits.png" alt="" /></p>

						<p></p>

						<h3 id="identifying-possible-solutions">
							Identifying possible solutions
						</h3>

						<p>
							One important opportunity we identified was
							replacing existing systems with a suite of event
							software that would automatically communicate with a
							centralized server.
						</p>

						<div class="post-thumbnail"><img src="/images/case-studies/jumprope-sketch.png" alt="" /></div>

						<div class="post-thumbnail"><img src="/images/case-studies/jumprope-eventsoftware.png" alt="" /></div>

						<p></p>

						<h3 id="prototyping-an-app-to-judge-more-efficiently">
							Prototyping an app to judge more efficiently
						</h3>

						<p>
							Via affinity diagram, my fellow researcher and I
							identified which solution would have the highest
							impact with the lowest investment, and that morning
							at the event I sketched out my ideas.
						</p>

						<p>
							Once I hit upon a flow I liked, I began to design a
							mobile prototype backstage to improve and address
							the incredibly specific needs of the judging
							experience.
						</p>

						<p><img src="/images/case-studies/jumprope-design.png" alt="" /></p>

						<p>
							After completing the designs, I put together a quick
							prototype in Invision to more easily demonstrate the
							flow and interactions. Here are a selection of
							screens from that prototype:
						</p>

						<h3 id="automatically-detecting-and-joining-an-event">
							Automatically detecting and joining an event
						</h3>

						<p>
							To get a judge quickly connected to the event, I
							proposed using geofencing and GPS to automatically
							detect an event’s location and allow the judge to
							join. Additionally, the app would detect what event
							was currently taking place and allow the judge to
							indicate their station and immediately get started
							tabulating.
						</p>

						<div class="post-thumbnail"><img src="/images/case-studies/jumprope-row-01-1.png" alt="" /></div>

						<h3 id="tabulating-jumps-during-the-event">
							Tabulating jumps during the event
						</h3>

						<p>
							During an event, a judge needs to track each
							individual jumper and then compare their counts with
							two other nearby judges using physical counters.
						</p>

						<div class="post-thumbnail"><img src="/images/case-studies/jumprope-row-02-1.png" alt="" /></div>

						<h3 id="submitting-scores-to-a-centralized-database">
							Submitting scores to a centralized database
						</h3>

						<p>
							As previously mentioned, today the solution for
							capturing scores is a physical “runner” writing them
							down and then running them over to be input into a
							database. This solution allows for scores to be
							recorded and submitted on the fly, keeping things
							moving seamlessly.
						</p>

						<div class="post-thumbnail"><img src="/images/case-studies/jumprope-row-03.png" alt="" /></div>

						<p></p>

						<h3 id="pitching-the-board-of-directors">
							Pitching the board of directors
						</h3>

						<p>
							After the event, I met with the board and pitched
							them on my software solution. They were extremely
							enthusiastic, and were excited about next steps.
						</p>

						<p><img src="/images/case-studies/jumprope-board.png" alt="" /></p>

						<p></p>

						<h3 id="developing-a-roadmap">Developing a roadmap</h3>

						<p>
							Working closely with my colleagues at RGLR
							Collective, we developed a proposed roadmap and met
							again with the board a few months later to discuss
							moving the project forward. Below are a few slides
							from our proposal (sensitive information removed).
						</p>

						<div class="post-thumbnail"><img src="/images/case-studies/jumprope-principles.png" alt="" /></div>

						<div class="post-thumbnail"><img src="/images/case-studies/jumprope-roadmap.png" alt="" /></div>

						<p></p>

						<h3 id="whats-next">What’s next</h3>

						<p>
							The board was very excited about our proposal, and
							we’re currently exploring next steps. Watch this
							space!
						</p>
					</div><!-- .post-content -->
				</article><!-- .post -->
				
				<section class="portfolio-block block outer" id="case-studies">
					<div class="inner">
						<div class="block-header">
							<h2 class="block-title line-top">Other case studies</h2>
						</div><!-- .block-header -->
						<div class="block-content">
							<div class="portfolio-feed layout-tiles">
								<Card
									href="/work/cerebral-case-study.html"
									title="Cerebral foundational research study"
									img="/images/block-cerebral.png"
								/>
								<Card
									href="/work/axs-mobile-app-event-entry.html"
									title="AXS mobile app redesign: Event entry"
									img="/images/block-axs.png"
								/>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
</Layout>
