---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Josh Wright - Makerspace case study">
	
	<main id="content" class="site-content">
		<div class="outer">
			<div class="inner">
				<article class="post project post-full">
					<header class="post-header inner-small">
						<h1 class="post-title line-top">Makerspace social product launch</h1>

						<div class="post-subtitle">
							Designing, building, and launching the official social platform of the maker movement
						</div>
					</header>

					<div class="post-thumbnail">
						<img
							src="/images/case-studies/makerspace-banner.png"
							alt="Scene from Maker Faire Bay Area showing a walking robot"
						/>
					</div>
					

					<div class="post-content inner-small">
						
						
						<h2>
							Background
						</h2>
						<h3>Overview</h3>

						<p>MakerSpace was a social network created by Maker Media, the company behind <em>Make: Magazine</em> and <a href="https://makerfaire.com/" target="_blank">Maker Faire</a>, to bring the Maker Movement online. Maker Media is a pioneering force in the Maker community, fostering creativity and innovation through its events and publications. At its peak, Maker Faire attracted over 1.5M attendees annually across events worldwide.</p>
						<p>MakerSpace aimed to bring the collaborative spirit of Maker Faire online. I led UX design for a remote, cross-functional team with startup-like autonomy, rapidly prototyping and iterating to create a community-driven platform that fostered participation, knowledge sharing, and global connections, all within a tight timeline.</p>


						<p></p>

						<h3>My role</h3>

						<ul>
							<li><strong>UX & Visual Design:</strong> I led all aspects of UX and visual design, from creating wireframes and high-fidelity comps to developing interactive prototypes. Pair design sessions with developers over video chat allowed us to iterate in real-time and ensure seamless implementation.</li>
							<li><strong>Collaboration & Art Direction:</strong> I worked with cross-functional stakeholders on a range of tasks, including crafting the art direction for promotional materials and aligning design efforts with overall business goals.</li>
						</ul>

						<p></p>

						<h3>
							Press
						</h3>
						<p><a href="http://www.engadget.com/2015/05/12/make-makerspace-network/" target="_blank">Engadget</a> / <a href="http://techcrunch.com/2015/05/12/maker-faire-goes-online-with-a-new-social-network-for-makers-called-makerspace/" target="_blank">TechCrunch</a> / <a href="http://makezine.com/2015/04/29/welcome-to-makerspace/" target="_blank">MakeZine</a> / <a href="http://www.fastcompany.com/3045505/maker-faire-founder-dale-dougherty-on-the-past-present-and-online-future-of-the-maker-moveme" target="_blank">Fast Company</a></p>
						<mux-player
						playback-id="8eU8CRYS63PnHZBS02XonuGFhIhqrx43KS3SunLncsU00"
						metadata-video-title="Introducing Makerspace"
						metadata-viewer-user-id=""
						accent-color="#FF0000"
					  ></mux-player>
						

						<h2>Building</h2>
						<h3>Sprinting to Minimum Viable Product</h3>

						<p>At the outset of the project, our team was tasked with an ambitious goal: to launch a minimum viable product (MVP) at World Maker Faire New York within just 45 days. Rising to the challenge, we rapidly iterated and built the social platform from the ground up. At the Faire, we successfully onboarded our first 700 users on-site. The following are key design artifacts from that intense and rewarding first month.</p>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/makerspace-mobile.png"
								alt="Low fidelity wireframes of the MakerSpace social network interface"
							/>
						</div>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/makerspace-landing.png"
								alt="Screenshot of the MakerSpace social network page, showcasing a login screen"
							/>
						</div>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/makerspace-profile.png"
								alt="Screenshot of the MakerSpace social network page, showcasing a user profile"
							/>
						</div>
						<h3>Sprinting to Minimum Viable Product</h3>

						<p>At the outset of the project, our team was tasked with an ambitious goal: to launch a minimum viable product (MVP) at World Maker Faire New York within just 45 days. Rising to the challenge, we rapidly iterated and built the social platform from the ground up. At the Faire, we successfully onboarded our first 700 users on-site. The following are key design artifacts from that intense and rewarding first month.</p>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/makerspace-project-a.png"
								alt="High-fidelity mockup displaying the 'Steps as blocks' design approach for user project sharing."
							/>
						</div>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/makerspace-project-b.png"
								alt="High-fidelity mockup showcasing the 'Steps in a flowing, Medium-esque format' design approach for user project sharing."
							/>
						</div>
						<h3>Sprinting to Minimum Viable Product</h3>

						<p>At the outset of the project, our team was tasked with an ambitious goal: to launch a minimum viable product (MVP) at World Maker Faire New York within just 45 days. Rising to the challenge, we rapidly iterated and built the social platform from the ground up. At the Faire, we successfully onboarded our first 700 users on-site. The following are key design artifacts from that intense and rewarding first month.</p>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/makerspace-masonry.png"
								alt="Screenshot of the MakerSpace social network page, showcasing the project feed"
							/>
						</div>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/makerspace-reddit.png"
								alt="Design mockup of the 'Spaces' feature, presenting a feed layout where users can connect and share content within predefined areas."
							/>
						</div>
						
						
					</div>
					
				</article>
				
				
				<section class="portfolio-block block outer">
					<div class="inner">
						<div class="block-header">
							<h2 class="block-title line-top">Other case studies</h2>
						</div><!-- .block-header -->
						<div class="block-content">
							<div class="portfolio-feed layout-tiles">
								<Card
									href="/work/axs-mobile-app-event-entry.html"
									title="AXS mobile app redesign: Event entry"
									img="/images/block-axs.png"
								/>
								<Card
									href="/work/cerebral-case-study.html"
									title="Cerebral foundational research study"
									img="/images/block-cerebral.png"
								/>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
</Layout>
