---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Josh Wright - O'Reilly case study">
	<header id="masthead" class="site-header outer">
		<div class="inner">
			<div class="site-header-inside">
				<div class="site-branding">
					<p class="site-title"><a href="/">Josh Wright</a></p>
				</div>

				<nav
					id="main-navigation"
					class="site-navigation"
					aria-label="Main Navigation"
				>
					<div class="site-nav-inside">
						<ul class="menu">
							<li class="menu-item">
								<a href="../case-studies.html">Case studies</a>
							</li>
							<li class="menu-item">
								<a href="../index.html#about-me">About</a>
							</li>
							<li class="menu-item">
								<a href="../index.html#testimonials">Testimonials</a>
							</li>
							<li class="menu-item">
								<a href="mailto:josh@joshux.com"
									>Contact</a
								>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<main id="content" class="site-content">
		<div class="outer">
			<div class="inner">
				<article class="post project post-full">
					<header class="post-header inner-small">
						<h1 class="post-title line-top">O'Reilly enterprise app design</h1>

						<div class="post-subtitle">
							Enterprise UX design
						</div>
					</header>

					<div class="post-thumbnail">
						<img
							src="/images/case-studies/orly-banner.png"
							alt="O'Reilly enterprise app design"
						/>
					</div>

					<div class="post-content inner-small">
						<h2>
							Background
						</h2>
						<h3>Overview</h3>

						<p>O'Reilly Auto Parts, a Fortune 500 company valued at over $10B, is a leading automotive parts retailer with more than 6,000 stores across the United States and Mexico, employing over 90,000 people.</p>
						<p>During the annual benefits enrollment period, a significant portion of these employees faced challenges navigating the existing system, leading to a surge in support calls. The increased call volume was so substantial that it overwhelmed the corporate phone system, causing crashes and necessitating the hiring of temporary staff to manage the crisis.</p>
						<p>Recognizing the urgent need for improvement, I was engaged to lead a comprehensive redesign of the benefits enrollment application, aiming to enhance usability and reduce friction for all employees.</p>
						<p></p>

						<h3 id="my-role">My role</h3>

						<ul>
							<li>
								<strong>Initiating the Redesign:</strong> Two months before launch, a colleague and I secured stakeholder buy-in for a rapid redesign of the application.
							</li>
							<li>
								<strong>Research &amp; Discovery:</strong> As a UX team of one, I handled all research and testing.
							</li>
							<li>
								<strong>Design Execution:</strong> I led the end-to-end redesign, transforming insights into a streamlined, user-focused solution under a tight timeline.
							</li>
						</ul>

						<p></p>

						<h2>My design process</h2>
						<h3>
							Auditing the existing experience
						</h3>

						<p>I began by conducting an audit of the application to identify key pain points and opportunities for improvement. This involved a series of quick guerrilla usability studies to observe how typical users interacted with the platform.</p>
						<p>These studies revealed several usability challenges, with the most significant being the landing page, which created a frustrating and disjointed user experience.</p>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/orly-original.png"
								alt=""
							/>
						</div>
						
						<h3>Brainstorming improvements</h3>
						<p>My discovery research highlighted two key issues: the application's flow was confusing for users, and the design lacked clear visual cues to guide them through the next steps. To address these challenges, I mapped out a task flow using post-it notes to brainstorm and explore options for streamlining the user journey.</p>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/orly-taskflow.png"
								alt=""
							/>
						</div>


						<p></p>

						<h3>Sketch, wireframe, prototype</h3>
						<p>Through sketches and low fidelity prototypes, I begain exploring solutions to simplify the design. I hit on the idea of consolidating several tasks into a single step to reduce complexity. Additionally, by renaming 'Overview' to 'Action Required' I could provide better wayfinding and clearer guidance to users on what necessary actions they needed to take.</p>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/orly-evolution.png"
								alt=""
							/>
						</div>
						<p></p>

						<h3>Testing my designs</h3>
						<p>I conducted another round of guerilla usability tests to validate my design concepts and iterated rapidly based on user feedback. As implementation began, I collaborated closely with engineers to ensure the feasibility and successful implementation of the proposed solutions. Within one month of finalizing the design, the redesigned application was successfully launched. We had met our deadline.</p>
						<div class="post-thumbnail">
							<img
								src="/images/case-studies/orly-final.png"
								alt=""
							/>
						</div>
						<p></p>

						<h3>Impact</h3>
						<p>The week of the launch, I visited the Benefits department to check on the progress of the rollout. To the Benefit team's surprise and relief, what was typically their busiest and most chaotic week of the year was proceeding as smoothly as any other. The project was a success.</p>
					
				</article>
				<section class="outcomes block outer">
					<div class="inner">
						<div class="block-inside">
							<div class="block-header">
								<h2 class="block-title line-top">Outcomes</h2>
							</div>
						</div>
						<div class="outcomes-container">
							<div class="circle circle1">Open Enrollment support calls dropped by 95%</div>
							<div class="circle circle2">Need for temporary staff eliminated, saving tens of thousands in overhead</div>
							<div class="circle circle3">Successfully demonstrated the benefits of UX, leading to future design opportunites and initiatives</div>
						</div>
					</div>
				</section>
				
				<section class="portfolio-block block outer">
					<div class="inner">
						<div class="block-header">
							<h2 class="block-title line-top">Other case studies</h2>
						</div><!-- .block-header -->
						<div class="block-content">
							<div class="portfolio-feed layout-tiles">
								<Card
									href="/work/axs-mobile-app-event-entry.html"
									title="AXS mobile app redesign: Event entry"
									img="/images/block-axs.png"
								/>
								<Card
									href="/work/cerebral-case-study.html"
									title="Cerebral foundational research study"
									img="/images/block-cerebral.png"
								/>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
</Layout>
