---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Josh Wright - Ribbon case study">
	<header id="masthead" class="site-header outer">
		<div class="inner">
			<div class="site-header-inside">
				<div class="site-branding">
					<p class="site-title"><a href="/">Josh Wright</a></p>
				</div>

				<nav
					id="main-navigation"
					class="site-navigation"
					aria-label="Main Navigation"
				>
					<div class="site-nav-inside">
						<ul class="menu">
							<li class="menu-item">
								<a href="../case-studies.html">Case studies</a>
							</li>
							<li class="menu-item">
								<a href="../index.html#about-me">About</a>
							</li>
							<li class="menu-item">
								<a href="../index.html#testimonials">Testimonials</a>
							</li>
							<li class="menu-item">
								<a href="mailto:josh@joshux.com"
									>Contact</a
								>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<main id="content" class="site-content">
		<div class="outer">
			<div class="inner">
				<article class="post project post-full">
					<header class="post-header inner-small">
						<h1 class="post-title line-top">LegalZoom &amp; Ribbon Case Study</h1>

						<div class="post-subtitle">
							Product strategy, UX design, product design
						</div>
					</header>

					<div class="post-thumbnail">
						<img
							src="/images/case-studies/ribbon-banner.png"
							alt="Ribbon Case Study"
						/>
					</div>

					<div class="post-content inner-small">
						<h2 id="innovation-at-legalzoom">
							Background
						</h2>

						<p>
							LegalZoom is a $5B legal technology company with a mission to democratize entrepreneurship. It has formed 3.7M+ businesses since its inception, and went public in June 2021.</p>

<p>LegalZoom’s business formation product accounts for almost half of the company’s revenue. Leadership is hesitant to take big risks on changing the product offering or experience.

						</p>

						<p>
							I was hand-picked to lead product strategy and
							design for a small cross-functional team created as
							a “startup” within the broader company. The <strong
								>goal</strong
							> of the team was to create a friendly and welcoming
							experience independent of legacy systems and to experiment
							with price point, look and feel, and product offerings.
							All to be delivered at the end of <strong
								>four weeks</strong
							>.
						</p>

						<p></p>

						<h3 id="my-role">My role</h3>

						<ul>
							<li>
								<strong>Product strategy:</strong> As Principal Designer,
								I partnered closely with the VPs of Marketing, Creative,
								and UX to determine product strategy.
							</li>
							<li>
								<strong>UX &amp; Product design:</strong> Mind-melding
								with a fellow Product Designer, we pair-designed
								the entire experience from top to bottom, developing
								a design system and a visual language.
							</li>
							<li>
								<strong>Engineering:</strong> I worked closely with
								our engineers to ensure velocity as well as 1:1 parity
								with shipped designs. This included functionality,
								look and feel, and animation.
							</li>
						</ul>

						<p></p>

						<h3 id="determining-target-market">
							Determining target market
						</h3>

						<p>
							To differentiate the Ribbon experience from
							LegalZoom’s typical customer, we decided to target
							downmarket customers with a free business formation
							experience. To visualize this, I put together a
							competitive landscape diagram.
						</p>

						<p>
							<img
								src="/images/case-studies/ribbon-target-market.png"
								alt=""
							/>
						</p>

						<p></p>

						<h3 id="strategy">Strategy</h3>

						<p>
							In order to complete this project at the required
							velocity, I had to make informed assumptions based
							on existing research and design. This included
							competitive analyses, proto-personas, customer
							journey maps, and designs for similar
							projects that had been usability and demand tested.
						</p>

						<p></p>

						<h3 id="first-i-determine-the-information-architecture">
							First, I determine the information architecture
						</h3>

						<p>
							After several rounds of back and forth with key
							stakeholders, I was able to narrow down the focus of
							the site to a set of key pages, which I then mapped
							out for easy digestion by the team.
						</p>

						<p></p>

						<h3
							id="next-establishing-baseline-layout-and-functionality"
						>
							Next, establishing baseline layout and functionality
						</h3>

						<p>
							<img
								src="/images/case-studies/ribbon-sketch.png"
								alt=""
							/>
						</p>

						<p>
							<img
								src="/images/case-studies/ribbon-annotations.png"
								alt=""
							/>
						</p>

						<p></p>

						<h3 id="thread-our-design-system-is-born">
							Thread, our design system, is born
						</h3>

						<p>
							<img src="/images/case-studies/ribbon-zeplin.png" alt="" />
						</p>

						<p></p>

						<h3 id="the-brand-begins-to-emerge">
							The brand begins to emerge
						</h3>

						<div class="post-thumbnail">
							<img
								src="/images/case-studies/ribbon-mobile-01.png"
								alt=""
							/>
						</div>

						<div class="post-thumbnail">
							<img
								src="/images/case-studies/ribbon-mobile-02.png"
								alt=""
							/>
						</div>

						<div class="post-thumbnail">
							<img
								src="/images/case-studies/ribbon-desktop-01.png"
								alt=""
							/>
						</div>

						<p></p>

						<h3 id="we-start-building">We start building</h3>

						<p>
							I partner closely with our engineer to ensure design
							parity.
						</p>

						<p>
							We work in one week sprints, and use Zeplin, Slack,
							and video chat to communicate when we’re not
							on-site.
						</p>

					</div>
					
				</article>
				<section class="outcomes block outer">
					<div class="inner">
						<div class="block-inside">
							<div class="block-header">
								<h2 class="block-title line-top">Outcomes</h2>
							</div>
						</div>
						<div class="outcomes-container">
							<div class="circle circle1">Leadership agreed to implement team recommendations in flagship product</div>
							<div class="circle circle2">Recommendations from team increased conversion by 8% or $16M</div>
							<div class="circle circle3">Company later adopted freemium model based on Ribbon's success</div>
						</div>
					</div>
				</section>
				
				<section class="portfolio-block block outer">
					<div class="inner">
						<div class="block-header">
							<h2 class="block-title line-top">Other case studies</h2>
						</div><!-- .block-header -->
						<div class="block-content">
							<div class="portfolio-feed layout-tiles">
								<Card
									href="/work/axs-mobile-app-event-entry.html"
									title="AXS mobile app redesign: Event entry"
									img="/images/block-axs.png"
								/>
								<Card
									href="/work/cerebral-case-study.html"
									title="Cerebral foundational research study"
									img="/images/block-cerebral.png"
								/>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
</Layout>
